$primary-color: #007bff;
$gray-color: #6c757d;

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
/* 
.container-sm {
  @include media-breakpoint-up(sm) {
    max-width: 540px;
  }
}

.container-md {
  @include media-breakpoint-up(md) {
    max-width: 720px;
  }
}

.container-lg {
  @include media-breakpoint-up(lg) {
    max-width: 960px;
  }
}

.container-xl {
  @include media-breakpoint-up(xl) {
    max-width: 1140px;
  }
}
 */
.h-100 {
  height: 100%;
}

.bg-light {
  background-color: #f8f9fa !important;
}

.position-relative {
  position: relative;
}

.w-100 {
  width: 100%;
}

.w-sm-75 {
  width: 75%;
}

.w-md-50 {
  width: 50%;
}

.w-lg-25 {
  width: 25%;
}

.m-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}

.rounded {
  border-radius: 0.25rem;
}

.shadow-none {
  box-shadow: none !important;
}

.shadow-lg {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.py-4 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.px-4 {
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}

/* .px-md-9 {
  @include media-breakpoint-up(md) {
    padding-right: 2.25rem !important;
    padding-left: 2.25rem !important;
  }
}
 */
.my-4 {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

.border-bottom {
  border-bottom: 1px solid #dee2e6 !important;
}

.border-end {
  border-right: 1px solid #dee2e6 !important;
}

.border-gray-300 {
  border-color: #ced4da !important;
}

.d-flex {
  display: flex !important;
}

.justify-content-center {
  justify-content: center !important;
}

.align-items-center {
  align-items: center !important;
}

.gx-0 {
  gap: 0 !important;
}

.gy-2 {
  gap: 0.5rem !important;
}

.d-none {
  display: none !important;
}

/* .d-md-inline {
  @include media-breakpoint-up(md) {
    display: inline !important;
  }
} */

.text-primary {
  color: $primary-color !important;
}

.text-gray-500 {
  color: $gray-color !important;
}