<div class="container">
    <div class="row">
        <div class="col text-center d-flex justify-content-center">
            <h3 class="title">Resumen del pago</h3>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-sm-10 col-md-8 d-flex justify-content-center">
            <div>
                <img src="ruta/a/la/imagen/epayco-logo-fondo-oscuro.png" class="img-fluid" alt="Logo">
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-11 col-sm-8 col-md-8">
            <div class="card px-5 py-4" ngIf="dataCompra.informacion && dataCompra.detalles && dataCompra.facturacion">
                <!-- <p><strong>Factura:</strong> {{ generarNumeroFactura() }}</p> -->
                <p><strong>Nombre de la experiencia:</strong> {{ dataCompra.informacion.titulo }}</p>
                <p><strong>Pasajeros:</strong></p>
                <ul>
                    <li>Adultos: {{ dataCompra.detalles.adultos.length }}</li>
                    <li>Niños: {{ dataCompra.detalles.ninios.length }}</li>
                </ul>
                <p><strong>Comprador:</strong> {{ dataCompra.facturacion.nombres+' '+dataCompra.facturacion.apellidos}}</p>
                <p><strong>Valor total:</strong> ${{ dataCompra.detalles.total_compra }}</p>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-8 d-flex justify-content-center">
            <div>
                <button class="btn btn-primary btn-rounded" type="button" (click)="bopenCheckout">
                    <img src="ruta/a/la/imagen/Boton-epayco-color2.png" class="img-fluid" alt="Botón de pago">
                </button>
                <form class="ePaycoForm" id="ePaycoForm"></form>
            </div>
        </div>
    </div>
</div>
