<div class="container">
  <div class="row">
    <div class="col-12">
      <h3>Resumen del carrito</h3>
    </div>
    <!-- Columna de dominios seleccionados -->
    <div class="col-md-6" *ngIf="productSelected">
      <div >
        <div *ngFor="let item of productSelected; let i = index"
          class="card py-2 px-3 mb-3">
					<div class="row">
						<div class="col-3 d-flex align-items-center">
							<img [src]="item.providerImage" width="auto" alt="Proveedor" class="img-fluid">
						</div>
						<!-- Detalles del dominio -->
						<div class="col-9">
							<div class="">
								<p class="mb-0"><strong>Nombre:</strong> {{ item.name }}</p>
								<p class="mb-0"><strong>Proveedor:</strong> {{ item.provider }}</p>
								<!-- <p class="mb-0"><strong>Años:</strong> {{ item.years }} {{item.years <= 1?'Año':'Años'}}</p> -->
								<!-- <div class="form-group">
									<label for="years"><strong>Años:</strong></label>
									<select formControlName="years" id="years" required class="form-control">
										<option value="1" >1 Año</option>
										<option value="2" >2 Años</option>
										<option value="5" selected>5 Años</option>
									</select>
								</div> -->
								<p class="mb-0"><strong>Total:</strong> <u>{{ item.price | currency:'COP' }}</u></p>
								<p class="mb-0"><strong>Plan:</strong> {{ plan }}</p>
								<p class="mb-0"><strong>Descuento:</strong> {{ discount }}%</p>
								<p class="mb-0"><strong>Total con descuento:</strong> {{ (item.price * (1 - discount / 100)) | currency:'COP' }}</p>
							</div>
						</div>
					</div>
        </div>
      </div>
    </div>
    <!-- Columna de resumen del pedido -->
    <div class="col-md-6">
      <div class="card">
        <h3 class="card-header">Resumen del Pedido</h3>
        <div class="card-body" *ngIf="productSelected">
          <p><strong>Cantidad de Artículos Seleccionados:</strong> {{ productSelected.length }}</p>
          <p><strong>Dominios Seleccionados:</strong></p>
          <ul>
            <li *ngFor="let domain of productSelected">{{ domain.name }}</li>
          </ul>
          <p><strong>Impuestos:</strong> </p>
          <ul>
            <li>IVA 19%: ${{iva.toLocaleString('es-CO')}} COP</li>
          </ul>
          <p><strong>Subtotal (COP):</strong> ${{ subtotal.toLocaleString('es-CO')}} COP</p>
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-6">
              <app-paypal></app-paypal>
            </div>
          </div>
          <!-- <app-checkout></app-checkout> -->
        </div>
      </div>
    </div>
  </div>
</div>
