<div class="pt-col">
    <div class="pt-block">
    <div class="pt-back">
    </div>
    <div class="pt-head">
    <div class="pt-title">H4</div>
    <div class="pt-sub-title">Panel de control cPanel</div>
    </div>
    <div class="pt-price-block">
    <span class="pt-currency"></span><span class="pt-price-main"><span class="pt-subprice">$</span>300.</span><span class="pt-price-rest">000<span class="pt-sub">/año</span></span> </div>
    <div></div>
    <ul class="pt-list">
    <li>
    <i class="far fa-hdd"></i> 70 GB Espacio <span class="ssd">SSD NVMe</span> </li>
    <li>
    <i class="fas fa-chart-area"></i> 800 GB de Tráfico / mes </li>
    <li>
    <i class="far fa-envelope"></i> 150 Cuentas E-mail </li>
    <li>
    <i class="fas fa-database"></i> 25 Bases de datos </li>
    <li>
    <i class="fas fa-globe-americas"></i> 5 Dominios permitidos </li>
    <li>
    <i class="fab fa-wordpress"></i> WordPress / Joomla / Otros </li>
    <li>
    <i class="fas fa-rocket"></i> LiteSpeed + LSCache </li>
    <li>
    <i class="fas fa-shield-alt"></i> Seguridad Imunify360 </li>
    <li>
    <i class="fas fa-palette"></i> Constructor de sitios Pro </li>
    <li>
    <i class="fas fa-upload"></i> Copias de seguridad </li>
    <li>
    <i class="fab fa-expeditedssl"></i> SSL gratis (https://) </li>
    </ul>
    <div class="pt-footer">
    <a href="https://clientes.latinoamericahosting.com.co/cart.php" class="pt-btn">Comprar</a>
    </div>
    </div>
</div>