<div class="w-100 h-100 bg-white md:bg-gray-50 position-relative">
  <app-background></app-background>
  <div class="position-relative w-100 sm:w-75 md:w-50 lg:w-25 m-auto">
    <app-header></app-header>
    <div class="bg-white rounded shadow-lg py-4 px-4 md:px-9">
      <div class="mb-4">
        <app-forgot-password-form></app-forgot-password-form>
      </div>
      <hr class="my-4 border-bottom-1 border-right-gray-300" />
      <div class="d-flex justify-content-center align-items-center flex-column md:flex-row">
        <a routerLink="/login" class="text-primary">Return to log in</a>
      </div>
    </div>
  </div>
</div>
