<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-center">
	<div class="container d-flex align-items-center justify-content-between">

		<div class="logo">
			<h1><a href="#">Chibcha Web</a></h1>
			<!-- Uncomment below if you prefer to use an image logo -->
			<!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
		</div>

		<nav id="navbar" class="navbar">
			<ul>
				<li><a class="nav-link scrollto active" href="#hero"></a></li>
				<li class="dropdown"><a href="#"><span>Tickets</span> <i class="bi bi-chevron-down"></i></a>
					<ul>
						<li><a href="#" routerLink="/admin/ticket-management">Registro de Tickets de Soporte</a></li>
						<li><a href="#" routerLink="/admin/tickets">Crear tickets</a></li>
					</ul>
				</li>
				<li><a class="nav-link scrollto" routerLink="/admin/dashboard">Dashboard</a></li>
				<li class="dropdown"><a href="#"><span>Gestión</span> <i class="bi bi-chevron-down"></i></a>
					<ul>
						<li><a href="#">Lista de Clientes</a></li>
						<li><a href="#">Perfil del Cliente</a></li>
						<li><a href="#" routerLink="/admin/user-managment" >Gestionar usuarios</a></li>
					</ul>
				</li>
				<li class="dropdown"><a href="#"><span>Registros</span> <i class="bi bi-chevron-down"></i></a>
					<ul>
						<li><a href="#">Registro de Pagos</a></li>
						<li><a href="#">Registro de Solicitudes de Dominio</a></li>
					</ul>
				</li>
				<li class="dropdown"><a href="#"><span>Usuarios</span> <i class="bi bi-chevron-down"></i></a>
					<ul>
						<li><a href="#">Permisos y Roles</a></li>
						<li><a href="#">Lista de usuarios</a></li>
						<li><a href="#" routerLink="/admin/user-managment">Gestionar usuarios</a></li>
					</ul>
				</li>
				<li><a class="nav-link scrollto" [routerLink]="['/admin/search']" routerLinkActive="router-link-active">Home</a></li>
				<li><routerLink class="getstarted scrollto" [routerLink]="['/']" routerLinkActive="router-link-active" >Logout</routerLink></li>
			</ul>
			<i class="bi bi-list mobile-nav-toggle"></i>
		</nav><!-- .navbar -->
	</div>
</header><!-- End Header -->
